<?xml version="1.0" encoding="utf-8"?>
<config>
    <sections>
        <customer>
            <groups>
                <wg_taxidpro translate="label">
                    <label><![CDATA[Italian Tax Code / VAT Number]]></label>
                    <sort_order>500</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <is_tax_code_required translate="label comment">
                            <label><![CDATA[Is Tax Code required?]]></label>
                            <comment><![CDATA[Choose if Tax Code should be required for addresses which country is Italy.]]></comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>0</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </is_tax_code_required>
                        <is_vat_number_required translate="label comment">
                            <label><![CDATA[Is VAT Number required?]]></label>
                            <comment><![CDATA[Choose if VAT Number should be required for addresses which country is Italy and when the "Is business address" is set to "Yes".]]></comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </is_vat_number_required>
                    </fields>
                </wg_taxidpro>
            </groups>
        </customer>
    </sections>
</config>
